@import 'tailwindcss' source('../../../app');
@source '../../../layers';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground;

    overflow-x: hidden;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply rounded;
  }

  :root {
    --radius: 0.5rem;
  }
}

/* Color aliases */
/* https://tailwindcss.com/docs/colors#referencing-other-variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-divider: var(--divider);
  
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-disabled: var(--disabled);
  --color-disabled-foreground: var(--disabled-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  /* Utilities */
  --transparent: 'transparent';
  --current: 'currentColor';

  /* ShadCN */
  @keyframes accordion-down {
    0% {
       height: 0;
    }
    100% {
      height: var(--reka-accordion-content-height);
    }
  }
  
  @keyframes accordion-up {
    0% {
      height: var(--reka-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }
  
  @keyframes collapsible-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--reka-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    0% {
      height: var(--reka-collapsible-content-height);
    }
    100% {
      height: 0;
    }
  }
  
  --animate-accordion-down: 'accordion-down 0.2s ease-out';
  --animate-accordion-up: 'accordion-up 0.2s ease-out';
  --animate-collapsible-down: 'collapsible-down 0.2s ease-in-out';
  --animate-collapsible-up: 'collapsible-up 0.2s ease-in-out';
}


.dark { 
--accent: oklch(0.92088 0.03776 265.83871);
--accent-foreground: oklch(0.34711 0.16807 268.45553);
--background: oklch(1 0 0);
--background-dialog: oklch(0.27363 0.01675 229.74757);
--background-secondary: oklch(0.92797 0 0);
--border: oklch(0.62675 0 0);
--card: oklch(1 0 0);
--card-foreground: oklch(0.10668 0 0);
--destructive: oklch(0.64265 0.21531 28.80648);
--destructive-foreground: oklch(1 0 0);
--disabled: oklch(0.75721 0 0);
--divider: oklch(0.86069 0 0);
--foreground: oklch(0.10668 0 0);
--input: oklch(0.53476 0 0);
--muted: oklch(0.92797 0 0);
--muted-foreground: oklch(0.42761 0 0);
--popover: oklch(1 0 0);
--popover-foreground: oklch(0.10668 0 0);
--primary: oklch(0.57259 0.23375 265.28358);
--primary-foreground: oklch(1 0 0);
--secondary-foreground: oklch(0.10668 0 0);
--success: oklch(0.6731 0.16244 144.2081);
--success-foreground: oklch(1 0 0);
--warning: oklch(0.73687 0.1655 57.92232);
--warning-foreground: oklch(0.10668 0 0);
}:root { 
--accent: oklch(0.92088 0.03776 265.83871);
--accent-foreground: oklch(0.34711 0.16807 268.45553);
--background: oklch(1 0 0);
--background-dialog: oklch(0.27363 0.01675 229.74757);
--background-secondary: oklch(0.92797 0 0);
--border: oklch(0.62675 0 0);
--card: oklch(1 0 0);
--card-foreground: oklch(0.10668 0 0);
--destructive: oklch(0.64265 0.21531 28.80648);
--destructive-foreground: oklch(1 0 0);
--disabled: oklch(0.75721 0 0);
--divider: oklch(0.86069 0 0);
--foreground: oklch(0.10668 0 0);
--input: oklch(0.53476 0 0);
--muted: oklch(0.92797 0 0);
--muted-foreground: oklch(0.42761 0 0);
--popover: oklch(1 0 0);
--popover-foreground: oklch(0.10668 0 0);
--primary: oklch(0.57259 0.23375 265.28358);
--primary-foreground: oklch(1 0 0);
--secondary-foreground: oklch(0.10668 0 0);
--success: oklch(0.6731 0.16244 144.2081);
--success-foreground: oklch(1 0 0);
--warning: oklch(0.73687 0.1655 57.92232);
--warning-foreground: oklch(0.10668 0 0);
}

